<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back", authorizeds_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h1>New Admin</h1>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <br>
  <div class="container form-box">
    <%= render 'form', authorized: @authorized %>
  </div>
</div>
