<p id="notice"><%= notice %></p>

<p>
  <strong>Admin emails:</strong>
  <%= @authorized.authorized_email %>
</p>

<%= link_to 'Edit', edit_authorized_path(@authorized) %> |
<%= link_to 'Back', authorizeds_path %>
