<header style="margin-top: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Admin", students_path, :class => "new-navbar-box", :method => :get %>
      </div>
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Back to Respresentatives", nominators_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<% content_for :title, "New Nominator"%>

<% content_for :title, "Nominator Info" %>
<link rel="stylesheet" href="../../assets/stylesheets/forms.css">

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">
  <h1>Nominator Info</h1>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container form-box">
    <br>
    <%= render 'form', nominator: @nominator %>
  </div>
</div>
