<p id="notice"><%= notice %></p>

<h1>Admin Home Page</h1>

<br>
<br>

<%= link_to 'Universities', universities_path %>
<br>
<%= link_to 'Representatives', representatives_path %>
<br>
<%= link_to 'Students', representatives_path %>