<% content_for :title, "Admin Help"%>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">

  <div class="container">
    <h1>Admin Help Page</h1>

    <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

    <p>Note: to go back to where you were before please press your browser's back button.</p><br>

    <u>Admin Access</u><br>

    <u>Admin Dashboard</u><br>
    <p>This is where you are after successfully logging in. You can return to the user form without signing out. There is a link to
    this help page. You can sign out, which also takes you to the user form. There are links to some important tables. The deadline
    for the user submission, which closes the form after the deadline comes, can be edited here. The "Admin List" button takes you to
    a table where you can add emails that will be allowed into the admin section of the website. There is also an export button that
    should download an excel sheet with the student information. </p>

    <u>Admin List</u><br>
    <p>Add to this table any emails that will be allowed in to through the admin log in. When removed, they will no longer have access.
    Please be careful with spelling and make sure the other party knows which email you will be adding. The verification will go through
    Google, so there is a fair chance that it may not work if other domains are used instead.</p>

    <u>Universities</u><br>
    <p>This is your list of universities the program may apply to. You can add, edit, see related nominators and students, and delete
    here. The "Nominees" column is the number of students currently nominated and the "Limit" column is the number of nominations
    alloted to a university. The "Clear All" button will delete all universities, as well as all information related to them including
    nominators and students. The "Reset All" button will delete information associated with all universities, but not deleting the
    universities. The default maximum limit that is given upon creation of a university is shown and can be edited. There is also an
    option to change the maximum limit for all the universities in the list together, if needed.</p>

    <u>Students & Nominators</u><br>
    <p>These tables support the basic functions of add, edit, delete, and clear all. In students "show", there is student information
    and related responses to questions provided. If these questions were not created before the nominator filled out the form, or if the
    nominator chose not to answer them, these may be blank. Nominators "show" has the nominator information and students associated with
    them. </p>

    <u>Questions/Answers</u><br>
    <p>Related to the questions provided, aside from the basic form which is pre-made the questions table allows for adding more questions
    for student nominations that are added in at the end of the forms. At this time it is not required to fill them out to proceed. A "multi"
    description allows for creating a multiple choice answer; if left unchecked, the question will ask for a text response. Otherwise, there
    is an answer table in the "show" section of every multiple choice question where the choices can be created and modified.</p>

    <u>Reported Problems</u><br>
    <p>In the user help page, reporting problems is currently being directed towards the
    <a href = "mailto: cibs@mays.tamu.edu">cibs@mays.tamu.edu</a> email address and instructed to be with a subject line of
    "Reporting an Issue: Exchange Nomination App". </p>

    </div>
</div>
