<h1>Editing Student</h1>
<p> Note: University and Representative cannot be edited simultaneously. Must do University and then Representative in different edits. </p>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', University.find(@student.university_id) %>
