<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">

  <div class="container">
    <h1>Help Page</h1>

    <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

    <p>Note: to go back to where you were before please press your browser's back button.</p><br>

    <u>Admin Access</u><br>
    <p>For admin log in access, certain emails are given priveleges. If you should have access and it isn't working, 
    please contact the email at the bottom. </p>

    <u>Home Page</u><br>
    <p>To use this form to nominate students for the Center For International Business Studies, you must be accessing the website 
    before the deadline closes for nominations, or will be shut out. First is filling out on the home page your own information 
    in your position as the nominator. Next, the website will show you your submitted information. If needed, you can edit your 
    information, but changing university affiliation is not allowed. If the wrong university was chosen, you must start over.</p>

    <u>Finish Page</u><br>
    <p>Once your information is input and shown to be correct, press continue to see your record of the session. It will show the 
    students you have nominated in this session and your inputted information. You will not be able to see nominations made by others. 
    If the session is interrupted, the information currently submitted will be saved but you will not be able to access the same session 
    again. If there is a problem with information in the previous session that should be deleted, please contact the email listed at 
    the bottom of the page. </p>

    <u>Maximum Nominations</u><br>
    <p>Included in this page is your university's maximum nomination limit as well as how many have been filled. The number of filled 
    spots may not match with your currently nominated students if others have nominated students for your university. You will not be 
    able to make new nominations if the maximum nomination limit has been reached. </p>

    <u>New Student</u><br>
    <p>If the maximum limit has not been reached and the deadline has not passed, you will be able to see the "Enter a new student" button. 
    In this path, you will need to fill out the information of the student you are nominating. Once a student is created, the website will 
    show it back to you along with a list of other questions we would like you to answer. These are not necessary for proceeding in this 
    website, but will likely be necessary in the review process. We ask that you answer these questions. When completed, use the "Finish" 
    button to return to your information page.</p>

    <u>Submission</u><br>
    <p>There is no need to submit at the end of the process as it is saved at regular intervals. For future reference, an email will be sent 
    to the addess given for the nominator for each student being nominated.</p>
    <br>

    <strong>To report problems:</strong><br>
    <p>Please send an email with the subject line "Reporting an Issue: Exchange Nomination App" to: 
    <a href = "mailto: cibs@mays.tamu.edu">cibs@mays.tamu.edu</a>.</p>

    </div>
</div>