<div style="text-align: right"><%= link_to 'Help', user_help_path %></div>
<h1>New Student</h1>
<br>

<%= render 'formu', student: @student %>
<br><br>

<%= link_to 'Back', finish_representative_path(@representative) %>