<h1>Editing Nominator</h1>

<%= render 'form', representative: @representative %>

<%= link_to 'Show', @representative %> |
<%= link_to 'Delete', delete_representative_path(@representative) %> |
<%= link_to 'Back to Representatives', representatives_path %>
