
<% content_for :title, "Nominator Info" %>
<link rel="stylesheet" href="../../assets/stylesheets/forms.css">


<body style="background: #500000;">
  <h1>Nominator Info</h1>
  <br>
  <div>
    <%= link_to 'Admin', students_path %>
    <br>
    <br>
    <%= render 'form', representative: @representative %>
  </div>

</body>

<br>
<%= link_to 'Back to Respresentatives', representatives_path %>