<h1>Nominator Info</h1>
<br>
<%= link_to 'Admin', admin_path %>
<%= link_to "Sign Out", destroy_admin_session_path %>
<br>

<%= render 'formu', representative: @representative %>
<!-- Need to redefine create command to link to user_show...
how to form.submit to user_create vs create?
might be better to do this based on authentication if/then? -->
