<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Admin login", admin_google_oauth2_omniauth_authorize_path, :class => "new-navbar-box", :method => :get %>
      </div>
      <div class="col-sm" style="margin-right: auto;">
        <div style="margin-right: auto;">
          <%= button_to 'Help', user_help_path, :class => "new-navbar-box", :method => :get %>
        </div>
      </div>
    </div>
  <nav>
</header>

<div style="margin-top: 10px; padding-left: 30px; padding-right: 30px;">

  <h1>Nominator Info</h1>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <div class="container show-box">
    <%= render 'formu', representative: @representative %>
  </div>
</div>
<!-- Need to redefine create command to link to user_show...
how to form.submit to user_create vs create?
might be better to do this based on authentication if/then? -->
