<div style="text-align: right"><%= link_to 'Help', user_help_path %></div>
<h1>Editing Nominator</h1>
<br>
<p>Note: A change in university is not allowed. Please contact the program administrator in the help page and start over if 
the university is incorrect.</p>

<%= render 'forme', representative: @representative %>
