<% content_for :title, "TAMU Exchange Nominations"%>

<div style="margin-top: 10px; padding: 30px;">
  <h2>TAMU Exchange Nominations</h2>
  <%= link_to "Admin Sign in", admin_path %>
  <%= link_to "Nominator Form", new_nominator_path %>
</div>
