<div>
  <h2>Clear All Universities</h2>

  <%= form_with url: destroy_all_universities_url do |f| %>

    <p>Are you sure you want to permanently delete all universities?</p>

    <p> Universities: <br>
    <% @universities.each do |university| %>
      <%= university.university_name %> <br>
    <% end %>
    </p>

    <p><strong>Notice:</strong> Deleting all universities will also delete all nominators and students and responses related to them.</p>
    <%= link_to 'Back to universities', universities_path %>
    <br><br>

    <div class="form-buttons">
      <%= f.submit("Clear All Universities") %>
    </div>

  <% end %>
</div>